In [55]:
%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [56]:
# Imports
import modules.imports as imports

# IMPORT DES DONNEES

## Team dataframe

In [25]:
teamdf = imports.create_teams_df()
teamdf

     idteam         name
0        14    Liverpool
1        45      Norwich
2        91  Bournemouth
3        49    Sheffield
4        90      Burnley
...     ...          ...
5680   1737        Cadix
5691   2894       Huesca
6428   2000    Benevento
6433    744      Crotone
6445   2036       Spezia

[111 rows x 2 columns]

## Player dataframe

In [26]:
playerdf = imports.create_players_df()
playerdf

       idplayer   lastname
0         15157     Milner
1         41733  Wijnaldum
2         56979  Henderson
3         60706     Adrián
4         60914      Matip
...         ...        ...
142256   173131   Haraslín
142280   518924    Bertini
142389   539223    Bertola
142390   539226     Pietra
142453   538794      Basha

[4503 rows x 2 columns]

## Match dataframe

In [57]:
matchdf = imports.create_matches_df()
matchdf

,matchid,hometeam,awayteam,date,duration,period,chamionship,quotation_away,quotation_home,quotation_draw,home_formation,away_formation,home_score,away_score
0,match_1059702,Liverpool,Norwich,2019-08-09T19:00:00Z,93,FullTime,2.0,18.00,1.12,9.00,[433],[4231],4,1
1,match_1059703,Bournemouth,Sheffield,2019-08-10T14:00:00Z,95,FullTime,2.0,3.90,1.95,3.55,[3421],[352],1,1
2,match_1059704,Burnley,Southampton,2019-08-10T14:00:00Z,94,FullTime,2.0,2.75,2.65,3.15,[442],[3421],4,0
3,match_1059705,Crystal Palace,Everton,2019-08-10T14:00:00Z,95,FullTime,2.0,2.35,3.20,3.20,[442],[4231],0,0
4,match_1059706,Leicester,Wolverhampton,2019-08-11T13:00:00Z,95,FullTime,2.0,3.50,2.15,3.25,[4141],[352],0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3589,match_2137737,Atalanta,Milan,2021-05-23T18:45:00Z,95,FullTime,5.0,2.60,2.35,3.98,[3421],[4231],0,2
3590,match_2137738,Sampdoria,Parma,2021-05-22T18:45:00Z,90,FullTime,5.0,3.70,1.55,3.80,[532],[352],3,0
3591,match_2137739,Spezia,Roma,2021-05-23T18:45:00Z,95,FullTime,5.0,1.58,4.65,4.65,[433],[4231],2,2
3592,match_2137740,Inter,Udinese,2021-05-23T13:00:00Z,90,FullTime,5.0,5.00,1.38,3.90,[352],[3511],5,1
3593,match_2137741,Napoli,Verona,2021-05-23T18:45:00Z,95,FullTime,5.0,7.50,1.20,4.75,[4231],[3421],1,1