In [34]:
%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
# Imports
import modules.imports as imports

# I. IMPORT DES DONNEES

## Team dataframe

In [3]:
teamdf = imports.create_teams_df()
teamdf
# teamdf.to_json('teamdf.json', orient='records')

     idteam         name
0        14    Liverpool
1        45      Norwich
2        91  Bournemouth
3        49    Sheffield
4        90      Burnley
...     ...          ...
5680   1737        Cadix
5691   2894       Huesca
6428   2000    Benevento
6433    744      Crotone
6445   2036       Spezia

[111 rows x 2 columns]

## Player dataframe

In [4]:
playerdf = imports.create_players_df()
playerdf
# playerdf.to_json('playerdf.json', orient='records')

       idplayer   lastname
0         15157     Milner
1         41733  Wijnaldum
2         56979  Henderson
3         60706     Adrián
4         60914      Matip
...         ...        ...
142256   173131   Haraslín
142280   518924    Bertini
142389   539223    Bertola
142390   539226     Pietra
142453   538794      Basha

[4503 rows x 2 columns]

## Match dataframe

In [5]:
matchdf = imports.create_matches_df()
matchdf
# matchdf.to_json('matchdf.json', orient='records')

,matchid,hometeam,awayteam,date,duration,period,chamionship,quotation_away,quotation_home,quotation_draw,home_formation,away_formation,home_score,away_score
0,match_1059702,Liverpool,Norwich,2019-08-09T19:00:00Z,93,FullTime,2.0,18.00,1.12,9.00,433,4231,4,1
1,match_1059703,Bournemouth,Sheffield,2019-08-10T14:00:00Z,95,FullTime,2.0,3.90,1.95,3.55,3421,352,1,1
2,match_1059704,Burnley,Southampton,2019-08-10T14:00:00Z,94,FullTime,2.0,2.75,2.65,3.15,442,3421,4,0
3,match_1059705,Crystal Palace,Everton,2019-08-10T14:00:00Z,95,FullTime,2.0,2.35,3.20,3.20,442,4231,0,0
4,match_1059706,Leicester,Wolverhampton,2019-08-11T13:00:00Z,95,FullTime,2.0,3.50,2.15,3.25,4141,352,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3589,match_2137737,Atalanta,Milan,2021-05-23T18:45:00Z,95,FullTime,5.0,2.60,2.35,3.98,3421,4231,0,2
3590,match_2137738,Sampdoria,Parma,2021-05-22T18:45:00Z,90,FullTime,5.0,3.70,1.55,3.80,532,352,3,0
3591,match_2137739,Spezia,Roma,2021-05-23T18:45:00Z,95,FullTime,5.0,1.58,4.65,4.65,433,4231,2,2
3592,match_2137740,Inter,Udinese,2021-05-23T13:00:00Z,90,FullTime,5.0,5.00,1.38,3.90,352,3511,5,1
3593,match_2137741,Napoli,Verona,2021-05-23T18:45:00Z,95,FullTime,5.0,7.50,1.20,4.75,4231,3421,1,1

## Highlight dataframe

In [6]:
highlightsdf = imports.create_highlight_df()
highlightsdf
# highlightsdf.to_json('highlightsdf.json', orient='records')

             matchid time playerid          type
0      match_1059702   86        0  substitution
1      match_1059702   83        0  substitution
2      match_1059702   74        0  substitution
3      match_1059702   70        0  substitution
4      match_1059702   65   195546        yellow
...              ...  ...      ...           ...
50475  match_2137741   54   487053        yellow
50476  match_2137741   41        0  substitution
50477  match_2137741   38   141925        yellow
50478  match_2137741   32   430848        yellow
50479  match_2137741   20   179361        yellow

[44847 rows x 4 columns]

## Substitution dataframe

In [7]:
substitutiondf = imports.create_substitutions_df()
substitutiondf
# substitutiondf.to_json('substitutiondf.json', orient='records')

             matchid time on_playerid off_playerid    reason
0      match_1059702   39       60706       116535    Injury
1      match_1059702   74      110979       152760  Tactical
2      match_1059702   86       15157        92217  Tactical
3      match_1059702   58       87396        71738  Tactical
4      match_1059702   70       89470        90440  Tactical
...              ...  ...         ...          ...       ...
25320  match_2137741   41      487053       141925    Injury
25321  match_2137741   63       94239       459089  Tactical
25322  match_2137741   63      192905        50401  Tactical
25323  match_2137741   76      483988        90557  Tactical
25324  match_2137741   76      185521        49391  Tactical

[25325 rows x 5 columns]

## Match Players dataframe

In [36]:
matchdf_players = imports.create_match_players_df()
matchdf_players
# matchdf_players.to_json('match_playersdf.json', orient='records')

,matchid,teamid,playerid,position,formation_place,quotation_player,final_mark_2015,play_duration,touches,total_offside,...,bad_keeper_sweeper_point,six_second_violation_point,cross_not_claimed_point,penalty_save_point,assist_pass_lost,assist_handball_won,assist_free_kick_won,assist_penalty_won,pen_goals_conceded,pen_goals_conceded_point
0,match_1059702,14,15157,Midfielder,0,3.75,5.0,4,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,match_1059702,14,41733,Midfielder,8,4.40,5.5,90,49.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,match_1059702,14,56979,Midfielder,7,5.75,6.0,90,73.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,match_1059702,14,60706,Goalkeeper,0,0.00,4.5,51,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,match_1059702,14,60914,Defender,0,9.50,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142495,match_2137741,126,433734,Defender,0,0.00,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142496,match_2137741,126,459089,Goalkeeper,1,0.00,4.0,63,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142497,match_2137741,126,470501,Forward,0,4.65,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142498,match_2137741,126,483988,Defender,0,18.00,5.0,14,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142499,match_2137741,126,487053,Defender,0,5.90,4.5,49,26.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# II. HISTORIQUE DES TRANSFERS

In [29]:
histoiquedf = imports.create_historique_transferts_df()
histoiquedf
histoiquedf.to_json('historiquedf.json', orient='records')

# III. REQUETES

## A. Clubs

In [30]:
# • Afficher la liste de tous les clubs (idteam et nom du club) / Display the list of all teams in the dataframe
print(teamdf)

# • Convert 'idteam' column to integers
teamdf['idteam'] = teamdf['idteam'].astype(int)

# • Quel est le nom du club dont l'id est 43 ? / Display the club with where id = 43
print(teamdf[teamdf['idteam'] ==43])

# • Quel est le nombre total de clubs ? / Display the length of the team dataframe
print(len(teamdf))

     idteam         name
0        14    Liverpool
1        45      Norwich
2        91  Bournemouth
3        49    Sheffield
4        90      Burnley
...     ...          ...
5680   1737        Cadix
5691   2894       Huesca
6428   2000    Benevento
6433    744      Crotone
6445   2036       Spezia

[111 rows x 2 columns]
    idteam       name
15      43  Man. City
111

## B. Joueurs

In [31]:
# • Afficher la liste des joueurs / List of all players
print(playerdf)

# • Quel est le nombre total de joueurs ? / Display the length of the player dataframe
print(len(playerdf))

       idplayer   lastname
0         15157     Milner
1         41733  Wijnaldum
2         56979  Henderson
3         60706     Adrián
4         60914      Matip
...         ...        ...
142256   173131   Haraslín
142280   518924    Bertini
142389   539223    Bertola
142390   539226     Pietra
142453   538794      Basha

[4503 rows x 2 columns]
4503

## C. Matchs

In [32]:
# • Afficher la liste des matchs joués / List of all matches
print(matchdf)

# • Afficher tous les id des matchs où le club à domicile est Arsenal / Display all match ids where the home team is Arsenal
matchdf['hometeam'] = matchdf['hometeam'].astype(str)
arsenal_home_matches = matchdf[matchdf['hometeam'] == 'Arsenal']['matchid']
print(arsenal_home_matches)

# • Afficher les information du/des match(s) qui se sont déroulés le 11-08-2019. / Display the information of the match(es) that took place on 11-08-2019. 
matchdf['date'] = imports.pd.to_datetime(matchdf['date'])
print(matchdf[matchdf['date'].dt.date == imports.pd.to_datetime('2019-08-11').date()])

# • Combien de matchs ont eu lieu en 2019 ? / How many matches took place in 2019?
print(len(matchdf[matchdf['date'].dt.year == 2019]))

# • Combien de matchs a joué le club Liverpool ? / How many matches did Liverpool play?
print(len(matchdf[(matchdf['hometeam'] == 'Liverpool') | (matchdf['awayteam'] == 'Liverpool')]))

            matchid        hometeam       awayteam                  date  \
0     match_1059702       Liverpool        Norwich  2019-08-09T19:00:00Z
1     match_1059703     Bournemouth      Sheffield  2019-08-10T14:00:00Z
2     match_1059704         Burnley    Southampton  2019-08-10T14:00:00Z
3     match_1059705  Crystal Palace        Everton  2019-08-10T14:00:00Z
4     match_1059706       Leicester  Wolverhampton  2019-08-11T13:00:00Z
...             ...             ...            ...                   ...
3589  match_2137737        Atalanta          Milan  2021-05-23T18:45:00Z
3590  match_2137738       Sampdoria          Parma  2021-05-22T18:45:00Z
3591  match_2137739          Spezia           Roma  2021-05-23T18:45:00Z
3592  match_2137740           Inter        Udinese  2021-05-23T13:00:00Z
3593  match_2137741          Napoli         Verona  2021-05-23T18:45:00Z

      duration    period  chamionship  quotation_away  quotation_home  \
0           93  FullTime          2.0           18.00            1.12
1           95  FullTime          2.0            3.90            1.95
2           94  FullTime          2.0            2.75            2.65
3           95  FullTime          2.0            2.35            3.20
4           95  FullTime          2.0            3.50            2.15
...        ...       ...          ...             ...             ...
3589        95  FullTime          5.0            2.60            2.35
3590        90  FullTime          5.0            3.70            1.55
3591        95  FullTime          5.0            1.58            4.65
3592        90  FullTime          5.0            5.00            1.38
3593        95  FullTime          5.0            7.50            1.20

      quotation_draw home_formation away_formation  home_score  away_score
0               9.00            433           4231           4           1
1               3.55           3421            352           1           1
2               3.15            442           3421           4           0
3               3.20            442           4231           0           0
4               3.25           4141            352           0           1
...              ...            ...            ...         ...         ...
3589            3.98           3421           4231           0           2
3590            3.80            532            352           3           0
3591            4.65            433           4231           2           2
3592            3.90            352           3511           5           1
3593            4.75           4231           3421           1           1

[3594 rows x 14 columns]
10      match_1059712
30      match_1059732
50      match_1059752
70      match_1059772
90      match_1059792
101     match_1059803
121     match_1059823
140     match_1059842
160     match_1059862
190     match_1059892
200     match_1059902
220     match_1059922
250     match_1059952
260     match_1059962
280     match_1059982
311     match_1060013
331     match_1060033
350     match_1060052
370     match_1060072
2468    match_2128296
2488    match_2128316
2508    match_2128336
2528    match_2128356
2548    match_2128376
2568    match_2128396
2578    match_2128406
2598    match_2128426
2628    match_2128456
2638    match_2128466
2658    match_2128486
2688    match_2128516
2698    match_2128526
2728    match_2128556
2748    match_2128576
2768    match_2128596
2778    match_2128606
2796    match_2128626
2826    match_2128656
Name: matchid, dtype: object
           matchid     hometeam       awayteam                      date  \
4    match_1059706    Leicester  Wolverhampton 2019-08-11 13:00:00+00:00
8    match_1059710  Man. United        Chelsea 2019-08-11 15:30:00+00:00
9    match_1059711    Newcastle        Arsenal 2019-08-11 13:00:00+00:00
383  match_1060532   Strasbourg           Metz 2019-08-11 15:00:00+00:00
386  match_1060535        Lille         Nantes 2019-08-11 13:00:00+00:00
387  match_1060536        Paris          Nîmes 2019-08-11 19:00:00+00:00

     duration    period  chamionship  quotation_away  quotation_home  \
4          95  FullTime          2.0             3.5            2.15
8          95  FullTime          2.0             3.6            2.20
9          95  FullTime          2.0             1.9            4.10
383        96  FullTime          1.0             4.0            2.10
386        95  FullTime          1.0             4.4            2.00
387        93  FullTime          1.0            32.0            1.09

     quotation_draw home_formation away_formation  home_score  away_score
4              3.25           4141            352           0           1
8              3.30           4231           4231           5           0
9              3.70            352           4231           0           1
383            3.25           3511            433           1           1
386            3.25           4231            433           2           1
387           12.50            433            433           3           0
925
76

# IV. ANALYSE ET VISUALISATION GRAPHIQUE